html {
background-color: #0f0f1d;
background-repeat: repeat;
background-position: 0px 0px;
}

body {
background-image: linear-gradient(white, #0f0f1d 700px);
background-repeat: repeat-x;
background-position: 0px 0px;
text-align: center;
min-width: 640px;
color: #000000;
margin: 0px;
padding: 0px;
}

a,p,li,ul,ol,pre,label,table,tr,td {
letter-spacing: 0px;
font: 12px sans-serif;
margin-top: 0;
margin-bottom: 0;
text-align: justify;
}

h1 {
color: #000000;
font: bold 48px sans-serif;
margin-top: 0;
margin-bottom: 0;
text-align: left;
}

h2 {
color: #000000;
font: bold 28px sans-serif;
margin-top: 0;
margin-bottom: 0;
text-align: left;
}

h3 {
color: #000000;
font: bold 16px sans-serif;
margin-top: 0;
margin-bottom: 0;
text-align: left;
}

a {
}
a:link {
text-decoration: none;
/*color: #666666;*/
/*color: rgb(33,181,156);*/
/*color: rgb(110,101,130);*/
color: rgb(24,128,111);
}
a:visited {
text-decoration: none;
/*color: #666666;*/
/*color: rgb(33,181,156);*/
/*color: rgb(110,101,130);*/
color: rgb(24,128,111);
}
a:active {
text-decoration: underline;
/*color: #000000;*/
}
a:hover {
text-decoration: underline;
/*color: #000000;*/
}

li {
margin-left: -20px;
/*
padding-left: -20px;
*/
}

img {
display: inline;
border-width: 0px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
outline: 0px none;
}

div {
letter-spacing: 0px;
text-align: right;
text-indent: 0px;
border-width: 0px;
/*line-height: 0px;*/
margin: auto;
padding: 0px 0px 0px 0px;
outline: 0px none;
}

form {
text-align: center;
}

label.formlabel {
position: relative;
float: left;
width: 150px;
text-align: left;
}

.formerror {
color: #ff0000;
}

.centred {
text-align: center;
}

#fullcontent {
width: 980px;
height: 100%;
top: 0px;
padding: 0px 0px 0px 0px;
margin-top: 0px;
margin-bottom: 0px;
/*border-style: solid;
border-width: 1px;
border-color: green;*/
}

#logobox {
background-image: url(/resources/images/mco_banner_xamp4_1.png);
background-repeat: no-repeat;
background-position: center top;
top: 0px;
width: 980px;
height: 292px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

#navbar {
/*background-color: rgb(67,62,78);*/
background-image: url(/resources/images/middle_obsidian_1b_mid.png);
background-repeat: repeat-y;
position: relative;
top: 0px;
left: 0px;
width: 640px;
min-width: 592px;
/*padding: 12px 0px 12px 0px;*/
padding: 0px 0px 0px 0px;
/*color: #B2E082;*/
color: rgb(49,239,206);
/*color: rgb(181,176,191);*/
/*color: rgb(235,235,245);*/
text-align: center;
}
#cpnavbar {
/*background-color: rgb(64,64,64);*/
/*background-color: #B2E082;*/
position: relative;
top: 0px;
left: 0px;
width: 592px;
min-width: 592px;
/*padding: 12px 0px 12px 0px;*/
padding: 0px 0px 0px 0px;
color: rgb(49,239,206);
text-align: justify;
}
/*
a.navbarlink {
color: #AAAAAA;
}
*/
.textbox {
/*background-color: rgb(255,255,255);*/
position: relative;
background-image: url(/resources/images/middle_obsidian_1b_mid.png);
background-repeat: repeat-y;
top: 0px;
left: 0px;
width: 592px;
min-width: 592px;
overflow: visible;
padding: 12px 24px;
text-align: justify;
}
#unaffiliated {
/*background-color: rgb(255,255,255);*/
position: relative;
background-image: url(/resources/images/middle_obsidian_1b_mid.png);
background-repeat: repeat-y;
top: 0px;
left: 0px;
width: 640px;
min-width: 640px;
overflow: visible;
padding: 0px 0px 0px 0px;
text-align: center;
font-family: sans-serif;
}
div.textboxtop {
background-image: url(/resources/images/middle_obsidian_1b_top.png);
position: relative;
top: 0px;
left: 0px;
width: 640px;
min-width: 640px;
height:11px;
min-height:11px;
margin-bottom: 0px;
padding-bottom: 0px;
}
div.textboxbottom {
background-image: url(/resources/images/middle_obsidian_1b_bottom.png);
background-repeat: no-repeat;
position: relative;
top: 0px;
left: 0px;
width: 640px;
min-width: 640px;
height:11px;
min-height:11px;
margin-bottom: 10px;
}

#map {
left: 0px;
margin-left: -24px;
padding: -0px;
}

div.leftbox {
position: relative;
top: 0px;
float: left;
min-width: 164px;
width: 164px;
z-index: 2;
}

div.rightbox {
position: relative;
top: 0px;
float: right;
min-width: 164px;
width: 164px;
z-index: 2;
}

div.sidebox {
background-color: rgb(235,235,245);
margin-bottom: 10px;
padding: 5px;
}

div.leftsidebox {
background-image: url(/resources/images/sidebox_obsidian_1a_left_mid.png);
background-repeat: repeat-y;
padding: 0px 12px 0px 12px;
}
div.rightsidebox {
background-image: url(/resources/images/sidebox_obsidian_1a_right_mid.png);
background-repeat: repeat-y;
padding: 0px 12px 0px 12px;
}
div.leftsideboxtop {
background-image: url(/resources/images/sidebox_obsidian_1a_left_top.png);
background-repeat: no-repeat;
height:11px;
min-height:11px;
margin-bottom: 0px;
padding-bottom: 0px;
}
div.rightsideboxtop {
background-image: url(/resources/images/sidebox_obsidian_1a_right_top.png);
background-repeat: no-repeat;
height:11px;
min-height:11px;
margin-bottom: 0px;
padding-bottom: 0px;
}
div.leftsideboxbottom {
background-image: url(/resources/images/sidebox_obsidian_1a_left_bottom.png);
background-repeat: no-repeat;
height:11px;
min-height:11px;
margin-bottom: 10px;
}
div.rightsideboxbottom {
background-image: url(/resources/images/sidebox_obsidian_1a_right_bottom.png);
background-repeat: no-repeat;
height:11px;
min-height:11px;
margin-bottom: 10px;
}
